<template>
    <div>
        <form @submit="addTodo">
            <input type="text" name="title" placeholder="Add Todo">
            <input type="submit" value="Submit" class="btn">
        </form>
        
    </div>
</template>

<script>

import uuid from 'uuid';

export default {
    name: 'AddTodo',
    data() {
        return {
            title: '',
            description: ''
        }
    },
    methods: {
        addTodo(e) {
            e.preventDefault();
            
            const newTodo =
            {
                id: uuid.v4(),
                title: this.title,
                description: this.description,
                completed: false
            }
            this.$emit('add-todo', newTodo);

            this.title = '';
            this.description = '';
        }
    }
}
</script>

<style scoped>

    form {
        display: flex;
        padding:  5px;
    }
    input[type="submit"] {
        flex: 2;
    }
</style>
